.categories {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.categories > button {
    background-color: white;
    border: 1px solid white;
    border-radius: 16px;
    padding: 6px 8px;
    cursor: pointer;
}

.categories > button:hover {
    border: 1px solid purple;
    background-color: purple;
    color: white;
}

.categories > button:active {
    background-color: white;
    border: 1px solid white;
}