.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 12px;
  transition: box-shadow 0.2s ease;
}

.card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Elevated box-shadow on hover */
}


.h3 {
  cursor: pointer;
}

.h3:hover {
  text-decoration: underline;
}

.img {
  max-width: 100%;
  cursor: pointer;
}

.header {
  display: flex;
  gap: 8px;
  justify-content: space-between;
}

.left_header {
  display: flex;
  gap: 8px;
  align-items: center;
}

.username {
  font-weight: 600;
  font-size: 14px;
}

.date {
  font-size: 14px;
  font-weight: 400;
}

.footer {
  position: relative;
  top: -1rem;
  margin-block: 1rem;
}

.share {
  position: absolute;
  left: 4rem;
}