.container {
    width: 18vw;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.button {
    background-color: white;
}