.nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #e2e6e9;
  background-color: white;
  position: fixed;
  z-index: 1;
  width: 100%;
}

.logo {
  color: var(--accent);
}

.btn_mobile {
  display: none;
}

.btn_desktop {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.signup_btn {
  background-color: var(--accent);
  border: 1px solid var(--accent);
  border-radius: 16px;
  padding: 6px 8px;
  cursor: pointer;
  color: #fff;
}

.signup_btn:hover {
  background-image: linear-gradient(rgb(0 0 0/40%) 0 0);
}

/* Mobile */
@media (max-width: 700px) {
  .nav {
    padding: 4px 8px;
  }

  .btn_desktop {
    display: none;
  }

  .btn_mobile {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }

  .btn_notif {
    color: var(--accent);
  }
}
