.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card_view {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.card_view > div > a {
  height: 250px;
}

.card_view > div > h2 {
  display: none;
}

.card_view > div > div {
  display: none;
}

.card_view > div {
  padding: 0;
}


/* Mobile */
@media (max-width: 700px) {

  .card_view > div > a {
    height: 200px;
  }
  
  .card_view > div > a > img{
    height: inherit;
  }
}