.container {
    max-width: 700px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* Mobile */
@media (max-width: 700px) {
    .container {
        max-width: 380px;
    }
}