* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --background-primary: #f0f2f5;

  --accent: blueviolet;
}

body {
  background-color: var(--background-primary);
}

main {
  padding-block: 5rem;
  margin: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  cursor: pointer;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 12px;
}

label {
  display: block;
}

button,
input,
textarea {
  font: inherit;
  border: none;
}

textarea {
  resize: none;
}

input:focus,
textarea:focus {
  outline: none;
}

.link:hover {
  text-decoration: underline;
  cursor: pointer;
}

/** REUSED COMPONENT **/
.btn_primary {
  background-color: white;
  border: 1px solid white;
  border-radius: 16px;
  padding: 6px 8px;
  cursor: pointer;
}

.btn_primary:hover {
  border: 1px solid var(--accent);
  background-color: var(--accent);
  color: white;
}

.btn_primary:active {
  background-color: white;
  border: 1px solid white;
}

.title {
  padding-left: 8px;
}

/* Mobile */
@media (max-width: 700px) {
  
  main {
    padding-block: 3rem;
  }

}
