.main {
  margin: auto;
  max-width: 500px;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color:#ffffff;
  padding: 1rem;
  border-radius: 12px;
}

.h3 {
  cursor: pointer;
}

.h3:hover {
 text-decoration: underline;
}

.img {
  max-width: 100%;
  cursor: pointer;
}

/* Mobile */
@media (max-width: 700px) {

}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {

}
