.main {
  display: flex;
  height: 100%;
}

.left_column, 
.right_column {
  width: 300px;
  position: fixed;
  top: 5rem;
  bottom: 0;
}

.left_column {
  left: 0;
}

.middle_column {
  width: 500px;
  margin: auto;
}

.right_column {
  right: 0;
}

.column {
  border: 1px solid #ccc;
  padding: 1rem;
}

.middle {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Mobile */
@media (max-width: 700px) {

}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {

}
