.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid #e2e6e9;
    padding: 1rem;
    border-radius: 12px;
    background-color: white;
}

.form > div > * {
    margin-block-end: 1rem;
}

.label {
    font-weight: 700;
}

.input,
.textarea {
    background: #f0f2f5;
    padding: 10px;
    width: 100%;
    border-radius: 12px;
}

.checkbox {
    display: flex;
    gap: 1rem;
}

.button {
    padding: 12px 18px;
    border-radius: 12px;
    background-color: purple;
    color: white;
    width: 35%;
    align-self: center;
    font-weight: 700;
}

.button:hover {
    transform: scale(1.1);
}