.container {
    padding-block: 5rem;
    padding-inline: 2rem;
    display: grid;
    grid-template-columns: 3fr 1fr;
    height: 100vh;
}

.image_wrap {
    display: flex;
    justify-content: center;
}

.image {
    width: 90%;
}

.detail_wrap {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.prompt {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.category {
    display: flex;
    gap: 1rem;
}

.category > p {
    background-color: white;
    border-radius: 16px;
    padding: 6px 8px;
}