.uploader_details {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
}

.empty {
  color: gray;
}

.uploadbtn {
  background-color: var(--accent);
  border: 1px solid var(--accent);
  border-radius: 16px;
  padding: 6px 8px;
  cursor: pointer;
  color: white;
  text-align: center;
}

.uploadbtn:hover {
  background-image: linear-gradient(rgb(0 0 0/40%) 0 0);
}

.uploadbtn:active {
  background-image: linear-gradient(rgb(0 0 0/0%) 0 0);
}

.btn_group {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
